In [1]:
#!pip install yahoofinance

Collecting yahoofinance
  Downloading https://files.pythonhosted.org/packages/b2/7b/a669ed5e629a665a81f1c456b4d8bb45929913a4ddb34ec2c2eef10f9a37/yahoofinance-0.0.2-py3-none-any.whl
Requirement already satisfied: requests>=2.20.1 in c:\programdata\anaconda3\lib\site-packages (from yahoofinance) (2.21.0)
Requirement already satisfied: pandas>=0.23.4 in c:\programdata\anaconda3\lib\site-packages (from yahoofinance) (0.24.2)
Requirement already satisfied: beautifulsoup4>=4.6.3 in c:\programdata\anaconda3\lib\site-packages (from yahoofinance) (4.7.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.20.1->yahoofinance) (2019.3.9)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.20.1->yahoofinance) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.20.1->yahoofinance) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.20.1->yahoofinance) (2.8)
Requirement already satisfied: pytz>=2011k in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23.4->yahoofinance) (2018.9)
Requirement already satisfied: numpy>=1.12.0 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23.4->yahoofinance) (1.16.2)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23.4->yahoofinance) (2.8.0)
Requirement already satisfied: soupsieve>=1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4>=4.6.3->yahoofinance) (1.8)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas>=0.23.4->yahoofinance) (1.12.0)
Installing collected packages: yahoofinance
Successfully installed yahoofinance-0.0.2

In [2]:
import yahoofinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
historical = yf.HistoricalPrices('AAPL', '2010-01-01', '2019-9-18')
dfs = historical.to_dfs()
df = dfs['Historical Prices']

In [6]:
df.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2010-01-04  30.490000  30.642857  30.340000  30.572857  26.681330  123432400
2010-01-05  30.657143  30.798571  30.464285  30.625713  26.727465  150476200
2010-01-06  30.625713  30.747143  30.107143  30.138571  26.302330  138040000
2010-01-07  30.250000  30.285715  29.864286  30.082857  26.253704  119282800
2010-01-08  30.042856  30.285715  29.865715  30.282858  26.428249  111902700